:root{
  --bg-color:black;
}
body{ 
  background-color: var(--bg-color);
}
nav{
  text-align: center;
  text-decoration: none;
  color: lightgray;
  font-family: sans-serif;
  font-size: small;
}
h1{
  font-family: sans-serif;
  color: red;
  text-align: center;
}
p{
  font-family: sans-serif;
  color: white;
}
