:root{
  --bg-color:dimgray;
}
body{ 
  background-color: var(--bg-color);
}
nav{
  text-align: center;
  text-decoration: none;
}
h1{
  font-family: system-ui;
  color: red;
}
p{
  font-family: system-ui;
  color: white;
}
