:root{
  --bg-color:#282828;
}
body{ 
  background-color: var(--bg-color);
}
header{
  text-align: center;
  padding-top: 1%;
}
nav{
  text-align: center;
  text-decoration: none;
  color: lightgray;
  font-family: sans-serif;
  font-size: medium;
}
li{
  display: inline;
  padding: 20px;
  font-family: system-ui;
}
h1{
  font-family: sans-serif;
  color: red;
  text-align: center;
  font-size: medium;
}
p{
  font-family: sans-serif;
  color: white;
}
a:link{
  color: white;
  text-decoration: none;
}
a:hover{
  color: red;
}
a:visited{
  text-decoration: none;
  color: white;
}
a:visited:hover{
  color: red;
}
.tablecaption{
  margin-left: 3%;
  color: white;
  font-family: system-ui;
}
caption{
  text-align: left;
  font-size: x-large;
  font-weight: bold;
  color: white;
}
td{
  color: white;
  font-family: system-ui;
}
table{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: system-ui;
  width: 80%;
  padding-bottom: 2%;
  padding-top: 5%;
}

.cpsc3700{
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.cpsc4210{
  display: block;
  float: right;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}