:root{
    --bg-color:#282828;
    font-family: sans-serif;
    font-size: medium;
    color: lightgray;
  }
  /* New Navbar */
  nav {
    text-align: center;
    text-decoration: none;
    color: lightgray;
    font-family: sans-serif;
    font-size: medium;
  }

  a:link {
    color: white;
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }

  a:visited:hover {
    color: red;
  }

  a:link {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: red;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }

  .navbar-nav a:hover{
    text-decoration: none;
    color: red;
  }
  
  .navbar-nav a:focus{
    text-decoration: none;
    color: red;
  }
  
  .navbar-nav a:visited{
    text-decoration: none;
    color: white;
  }
  
  .navbar-nav a:visited:hover{
    text-decoration: none;
    color: red;
  }
  
  .nav-link{
    margin-left: 20px;
  }
  
  #current{
    color: red;
  }
  
  body{ 
    background-color: var(--bg-color) !important;
    margin-inline-end: 8vh !important;
  }
  header{
    text-align: center;
    padding-top: 30px;
  }
  nav main{
    text-align: center;
    text-decoration: none;
    color: lightgray;
    font-size: medium;
  }
  li{
    display: inline;
    padding: 20px;
    font-family: system-ui;
  }
  h1{
    color: red;
    text-align: center;
    font-size: medium;
  }
  p{
    color: white;
  }
  a:link{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: red;
  }
  a:visited{
    color: gray;
  }

/* Main */

  main{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  #sidenav{
      list-style: none;
      padding: 0;
      margin: 0;
      width: 20vw;
      top: 225px;
      left: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: rgb(60, 59, 59);}

      
  .sidenav-nav{
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
  }

  .sidenav-nav #search{
      margin-top: -5px;
  }

  .nav-item{
      padding: 0;
      border-bottom: 1px solid lightgray;
  }
  .nav-item a:hover{
      color: white;
      text-decoration: underline;
  }

  #practice-area{
    height: 70vh;
    width: 50vw;
    padding: 10px;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    
  }

  .languages {
    text-align: start;
  }

  #editor { 
    height: 60vh; 
    width: 50vw;
  }

  #run-button {
    margin: 4px;
    margin-left: 0px;
  }

  #run-button .btn {
    background: #57a958;
    color: white;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  
  #run-button .btn:hover {
    text-decoration: underline;
  }


  .btn:hover {
    cursor: pointer;
  }

  .output {
        padding: 4px;
        color: white;
        border: 2px solid rgb(255, 255, 255);
        background-color: black;
        min-height: 100px;
        width: 99%;
        resize: none;
  }

  .question-area{
    height: 40vh;
    width: 15vw;
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
  }

  .questionHeader{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
  }

  .questionHeader{
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.4rem;
  }

  .question{
    text-align: center;
  }

  .checkQuestion{
    margin: 4px;
    margin-left: 0px;
  }

  .checkQuestion .btn {
    background: gray;
    color: white;
    height: 7vh;
    width: 10vw;
    text-align: center;
  }

  .checkQuestion .btn:hover{ 
    background: gray;
    color: white;
    text-decoration: underline;
  }

  .nextQuestion{
    margin: 4px;
    margin-left: 0px;
    display: no;
  }

  .nextQuestion .btn{ 
    background: gray;
    color: white;
    height: 7vh;
    width: 10vw;
    text-align: center;
  }

  .nextQuestion .btn:hover{ 
    background: gray;
    color: white;
    text-decoration: underline;
  }

  .questionResult {
    font-size: 3em;
    width: 5vw;
    height: 5vh;
    margin: auto;
    
}
